:root {
  --primary-color: blue;
  --secondary-color: purple;
  --font-family: 'Arial, sans-serif';
} 

#header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;

  & h2 {
    color: var(--secondary-color);
    font-size: 10rem;
  }

  & p {
    color: var(--primary-color);
  }
   & p:hover {
    color: pink;
    font-size: 18px;
    cursor: crosshair;
  }
}
h1 {
  color: purple !important;
  text-align: center;
} 
p {
  color: blue;
  font-family: var(--font-family);
  font-size: 16px;
}

.esta-es-una-clase {
  color: blue;
}   

.esta-es-una-clase:hover {
  color: purple;
  font-size: 20px;
}

h2 {
  color: blueviolet;
}

img {
  width: 30%;
}


ul {
  list-style-type: square;
  color: blue;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    background: blue;
}